.reportCards{
    max-width: 100%;
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding: 10px 20px;
    align-items: center;
    overflow: scroll;
    
   

    .singleReport{
        border: 1px solid black;
        text-align: left;
        padding: 30px;
        margin-left: 80px ;
        margin-bottom: 50px;
        padding-top: 50px;
        background-color: transparent;
        color: rgb(16, 15, 15);
        font-weight: 700;
        font-size: 20px;
        width: 70%;
        height: 80%;
      
       
        border: none;
    //    border-radius: 20px;
    //    box-shadow: -1px -2px 19px 3px rgba(0,0,0,0.42);
       position: relative;
       -webkit-box-shadow: 29px 22px 25px -6px rgba(0,0,0,0.42); 
box-shadow: 29px 22px 25px -6px rgba(0,0,0,0.42);

        
     

        h2{
            text-align: center;
            margin: 10px;
        }
       

    }

}

.companyName{
    width: 300px;
    // border: 1px solid black;
    position: absolute;
    top: -5%;
    left: -10%;
    background-color: rgba(243, 220, 160, 0.938);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 30px 14px 27px -17px rgba(49,4,4,0.72); 
    box-shadow: 0px 10px 13px -7px #000000, 30px 14px 27px -17px rgba(49,4,4,0.72);
border-bottom-right-radius: 20px;
border-top-left-radius: 20px;
}

span .pesonal-info-list{
display: inline-block;
min-width: 200px;
line-height: 22px;
}