.candidates {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 40px;
    padding: 20px 20%;

    justify-content: center;
    // padding-top: 100px;
    // padding-left: 100px;
    // background-image: url(./candidatesimg.png);
    background-repeat: no-repeat;
    background-size: cover;

    .candidateCard {
        padding-top: 70px;
        width: 100%;
        height: 160px;
        position: relative;
        border-radius: 10px;
        -webkit-box-shadow: 1px 1px 11px -3px #000000;
        box-shadow: 1px 1px 11px -3px #000000;
        color: black;
        margin: 20px;
        line-height: 30px;
        h2{
            padding: 10px;
        }
    }

    .candidate-img {

        width: 100px;
        position: absolute;
        top: -40px;
        // right: 80px;
        border-radius: 50%;
        -webkit-box-shadow: 1px 1px 23px 3px #000000;
        box-shadow: 1px 1px 23px 3px #000000;
        
    }
}

a {
    text-decoration: none;
}