.main {
  width: 100%;
  text-align: center;
  z-index: 1;

  .addNewReport {
    background: transparent;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 50px;
    width: 3%;
    position: absolute;
    bottom: -5%;
    right: 1%;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
      10px 7px 37px -30px rgba(110, 107, 101, 0.56);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
      10px 7px 37px -30px rgba(110, 107, 101, 0.56);
  }

  .gridReportCompany {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 80px;

    .singleCompanyReport {
      position: relative;
      // flex: 1;
      padding: 10px;
      display: flex;
      font-weight: 700;
      flex-direction: column;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      margin: 10px;
      // width za mobile iskljuciti flex 1 treba
      width: 30%;
      background: rgba(239, 242, 242, 0.751);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(18.2px);
      -webkit-backdrop-filter: blur(18.2px);
      -webkit-box-shadow: 2px 5px 16px 0px #0b325e,
        0px -11px 50px -28px rgba(110, 107, 101, 0);
      box-shadow: 2px 5px 16px 0px #0b325e,
        0px -11px 50px -28px rgba(110, 107, 101, 0);

      .name,
      .date,
      .status {
        padding: 10px 20px;
        font-size: 18px;
      }

      .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;

        button {
          position: absolute;
          top: 5px;
          right: 5px;
          background-color: transparent;
          font-weight: 600;
          border: none;
          cursor: pointer;
          color: rgb(70, 2, 244);
          height: 25px;
          width: 25px;
          font-size: 18px;
        }

        img {
          height: 32px;
          width: 32px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .reportCompany {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 100px;

    .singleCompanyReport {
      // border: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      margin: 10px 0;
      font-size: large;
      font-weight: 700;

      border-radius: 25px;
      /* From https://css.glass */
      background: rgba(239, 242, 242, 0.751);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(18.2px);
      -webkit-backdrop-filter: blur(18.2px);
      -webkit-box-shadow: 2px 5px 16px 0px #0b325e,
        0px -11px 50px -28px rgba(110, 107, 101, 0);
      box-shadow: 2px 5px 16px 0px #0b325e,
        0px -11px 50px -28px rgba(110, 107, 101, 0);

      .name,
      .date,
      .status {
        font-size: 20px;
      }

      .buttons {
        display: flex;
        align-items: center;
        padding: 10px;

        button {
          background-color: transparent;
          font-weight: 600;
          border: none;
          border-radius: 30%;
          margin-left: 10px;
          cursor: pointer;
          color: rgb(3, 3, 3);
          height: 32px;
          width: 32px;
          font-size: 22px;
        }

        img {
          height: 32px;
          width: 32px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 0 10px;

    input {
      font-size: 20px;
      text-align: center;
    }

    .nav-buttons {
      display: flex;
      padding: 10px;

      .toggle-button {
        cursor: pointer;
        margin-right: 10px;
        padding: 5px;
        background: rgba(106, 255, 237, 0.06);

        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
        border: 1px solid rgb(255, 255, 255);
        width: 40px;
        border: none;
      }

      a {
        text-decoration: none;
      }

      // .candidates-button {
      //     // width: 100px;
      //     padding: 10px;
      //     cursor: pointer;
      //     text-align: center;
      //     /* From https://css.glass */
      //     background: rgba(106, 255, 237, 0.06);
      //     border-radius: 16px;
      //   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      //   backdrop-filter: blur(1.5px);
      //   -webkit-backdrop-filter: blur(1.5px);
      //   border: 1px solid rgb(255, 255, 255);

      //   &:hover {
      //       background-color: white;
      //    }
      //   }
    }
  }
}
