.header {
    position: fixed;
    padding: 10px 20px;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(234, 227, 196);
    color: black;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid rgba(255, 255, 255, 0.222);
    z-index: 1;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 12px 50px 50px 50px rgba(0,223,255,0.04); 
    box-shadow: 0px 10px 13px -7px #000000, 12px 50px 50px 50px rgba(0,223,255,0.04);

  h1  .title{
        width: 100%;
        color: rgb(31, 134, 16);
        font-size: 120%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
           }

    button {
        width: 5%;
        // height: 30%;
        border: none;
        font-weight: 700;
        font-size: 25px;
        
        background-color: transparent;
        



        &:hover {
            background-color: rgba(63, 149, 207, 0.382);
            cursor: pointer;
            -webkit-box-shadow: 2px 5px 16px 0px #0B325E, -7px -27px 33px 5px rgba(255,255,255,0.17); 
box-shadow: 2px 5px 16px 0px #0B325E, -7px -27px 33px 5px rgba(255,255,255,0.17);
        }

    }

    a {
        height: 100%;
    }

  
}

.dark {
    background-color: black;
    color: white;
}
