.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: bisque;
    padding: 5px 20px;
}

.dark {
    background-color: black;
    color: white;
}
button{
    cursor: pointer;
    // padding: 10px;

}