.sideBar{
    background-color: rgb(170, 248, 244);
    height: 100vh;
    min-width: 25%;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding: 20px;
    font-weight: 700;
}