.homepage {
    height: 100vh;
}


.image{
    
    width: 100%;
    height: 100vh;
    background-image: url("https://th.bing.com/th/id/R.650e07c19a4dec3ce5733545ac00fc97?rik=GoCmh8Zd%2bOu9gQ&riu=http%3a%2f%2fwww.prochecking.com%2fassets%2fimages%2fwhy%2fles-resultats.jpg&ehk=%2bW825XFWejf4jydbpXIPzMR97DyWJB0Wt4lhfpd9l%2f0%3d&risl=&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: cover;
   
}

.main-title {
    position: absolute;
    
    top: 50%;
    left:30%;
    font-size: 100px;
    font-weight:500;
    -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    
            @-webkit-keyframes text-focus-in {
                0% {
                  -webkit-filter: blur(12px);
                          filter: blur(12px);
                  opacity: 0;
                }
                100% {
                  -webkit-filter: blur(0px);
                          filter: blur(0px);
                  opacity: 1;
                }
              }
              @keyframes text-focus-in {
                0% {
                  -webkit-filter: blur(12px);
                          filter: blur(12px);
                  opacity: 0;
                }
                100% {
                  -webkit-filter: blur(0px);
                          filter: blur(0px);
                  opacity: 1;
                }
              }
}

.candidate-title{
  margin: 50px;
  text-align: center;
  
}

 
  