.loginModal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 10px;
  border: none;
  border-bottom: 2px solid gray;
  outline: 0;
  background: transparent;
  transition: border-color 0.2s;
  font-weight: 700;
  border-width: 2px;
  border-image: linear-gradient(to right, rgb(3, 39, 124),rgb(66, 198, 254));
  border-image-slice: 1;


  &::placeholder {
    color: transparent;
    // transition: all 0.5s ease-in-out;

  

  
    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }
 .form-label{
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: gray;
  
 
 }

 .form-label:focus{
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: blue;
  font-weight:700;    
}
// padding-bottom: 6px;  

}


#modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
#content-div {
  // border: 5px solid rgb(35, 192, 142);
  // border-radius: 10px;
  // padding: 20px;
  line-height: 30px;
  min-height: 30%;
  background-color: rgba(240, 246, 248, 0.87);
  min-width: 35%;
  display: flex;
  justify-content: center;
  position: relative;

  
}
.close-modal {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  font-size: 20px;
  color: grey;
  border: none;
  cursor: pointer;
}

.modal-button {
width: 40%;
height: 10%;
font-size: 20px;
border-bottom-right-radius: 10px;
border-top-left-radius: 10px;
 margin-top: 20%;
 border: none;
 background-color:#258df677;
}

.modal-image{
  width: 100%;
  height: 400px;
  background-image: url("https://media.istockphoto.com/photos/close-up-shot-of-an-anonymous-young-businesswoman-using-a-laptop-picture-id1288318055?k=20&m=1288318055&s=612x612&w=0&h=8gssLPLH3TQ5fDN4TE1no3MHE3RFACw3He7GvpDKcr0=");
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

h1{
  padding-bottom: 50px;

}

// #content-div button{
//   margin-top: 50px;
// }
